language: clojure

lein: 2.8.1
jdk:
  - openjdk8

services:
- docker

stages:
  - lint-check
  - test
  - coverage
  - name: deploy
    if: (repo == gojek/ziggurat) AND (tag IS present)
jobs:
  include:
  - stage: lint-check
    script:
    - lein cljfmt check
    - lein kibit
  - stage: test
    name: "kafka-1"
    env:
      - KAFKA_VERSION=1
    script:
    - ./bin/run_tests_in_ci.sh
  - stage: test
    name: "kafka-2"
    env:
      - KAFKA_VERSION=2
    script:
    - ./bin/run_tests_in_ci.sh

  - stage: coverage
    script:
    - make coverage

  - stage: deploy
    script: lein deploy clojars
