<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="lambda-service-config" shutdownHook="disable">
    <Properties>
        <Property name="PATTERN">
            [%-5level] %d [%t] %c:%M: %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
        <Logger name="lambda-service" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>
