name: Ziggurat CI

on:
  push:
    branches:
    tags:
  pull_request:
    branches:
      - master

jobs:
  lint_check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: "1.8"
      - uses: DeLaGuardo/setup-clojure@master
        with:
          lein: "2.8.1"
      - uses: actions/checkout@v2

      - name: Lint Checks
        run: lein cljfmt check

      - name: Lein Kibit Check
        run: lein kibit

  run_tests_with_kafka_2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: "1.8"
      - uses: DeLaGuardo/setup-clojure@master
        with:
          lein: "2.8.1"
      - uses: actions/checkout@v2

      - name: Run Tests on Kafka 2.x
        run: ./bin/run_tests_in_ci.sh
        env:
          KAFKA_VERSION: 2.3.0

  run_tests_with_kafka_cluster:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: "1.8"
      - uses: DeLaGuardo/setup-clojure@master
        with:
          lein: "2.8.1"
      - uses: actions/checkout@v2

      - name: Run Tests on Kafka Cluster
        run: ./bin/run_cluster_tests_in_ci.sh
        env:
          CONFLUENT_VERSION: 5.3.0

  calculate_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: "1.8"
      - uses: DeLaGuardo/setup-clojure@master
        with:
          lein: "2.8.1"
      - uses: actions/checkout@v2

      - name: Calculate Coverage
        run: make coverage

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  deploy_to_clojars:
    runs-on: ubuntu-latest
    needs:
      [
        lint_check,
        run_tests_with_kafka_2,
        run_tests_with_kafka_cluster,
        calculate_coverage,
      ]
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    env:
      CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
      CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
    steps:
      - uses: actions/setup-java@v1
        with:
          java-version: "1.8"
      - uses: DeLaGuardo/setup-clojure@master
        with:
          lein: "2.8.1"
      - uses: actions/checkout@v2

      - name: Deploy to Clojars
        run: lein deploy clojars

  send_update_event:
    runs-on: ubuntu-latest
    needs: [deploy_to_clojars]
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{secrets.GH_TOKEN}}
          repository: gojek/ziggurat-web
          event-type: ziggurat-release-event
